<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.wilddog.com/sdk/js/2.5.17/wilddog.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../public/js/template-web.js"></script>
	<script src="../public/js/detail.js"></script>
	<style type="text/css">
		.container{
			width: 100%;
			padding-top: 15px;
			padding: 15px;
		}

		.btn-default{
			border:none;
			color: #337ab7;
		}
		.dropdown-toggle.btn-default{
			background: #fff;

		}
		.nav>li>a:focus, .nav>li>a:hover{
			background: #fff;
			color: #337ab7;

		}
		.pro_title{
			margin-left: 200px;
			text-shadow: 8px 1px 4px #ccc;
		}
	/*	..form-horizontal .control-label{
			text-align: left;
		}*/
	</style>
</head>
<body>
	<div class="container">
	<div class="header">
		<ul class="nav nav-pills nav-justified">
		  <li class="active"><a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>基地大棚列表</a>
				   <ul class="dropdown-menu">
				        <li>
				            <a href="./map.html?id=1">第1个大棚</a>
				        </li>
				         <li class="divider"></li>
				        <li>
				            <a href="./map.html?id=2">第2个大棚</a>
				        </li>
				         <li class="divider"></li>
				        <li>
				            <a href="./map.html?id=3">第3个大棚</a>
				        </li>
				         <li class="divider"></li>
				       
				        <li>
				            <a href="./map.html?id=4">第4个大棚</a>
				        </li>
				         <li class="divider"></li>
				        <li>
				            <a href="./map.html?id=5">第5个大棚</a>
				        </li>
				        <li class="divider"></li>
				        <li>
				            <a href="./map.html?id=6">第6个大棚</a>
				        </li>
				        <li class="divider"></li>
				        <li>
				            <a href="./map.html?id=7">第7个大棚</a>
				        </li>
				    </ul>	
				
		  </li>

		  <li ><a href="./pandect.html">农作物总览</a></li>
		  <li><a href="./history.html">历史记录</a></li>
		  <li><a href="#">VB.Net</a></li>
		  <li><a href="#">Java</a></li>
		  <li><a href="#">PHP</a></li>
		</ul>
	</div>
	<!-- 表单 -->
<div class="main">
<h2 class="pro_title"></h2>
<form class="form-horizontal " id="vegDetail">
 	
  
</form>
</div>
</div>

<!-- vegDetail -->
<script type="text/html" id="vegDetailTpl">
	<div class="form-group " >
    <label for="productId" class="col-sm-2 control-label">编 号：</label>
    <div class="col-sm-6">
      <input value="{{ data.masId }}" name="productId" type="text" class="form-control" id="productId" placeholder="请输入农作物ID" disabled="">
    </div>
  </div>

  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">农 作 物：</label>
    <div class="col-sm-6">
      <input disabled="" value="{{ data.name }}" name="name" type="text" class="form-control" id="name" placeholder="请输入农作物名字">
    </div>
  </div>
  <div class="form-group">
    <label for="plantPro" class="col-sm-2 control-label">种植日期：</label>
    <div class="col-sm-6">
      <input disabled="" value="{{ data.sowDate }}" name="plantPro" type="text" class="form-control" id="plantPro" placeholder="请输入姓">
    </div>
  </div>

  <div class="form-group">
    <label for="productDay" class="col-sm-2 control-label">已种植天数：</label>
    <div class="col-sm-6">
      <input disabled="" value="{{ data.passDay }}" name="productDay" type="text" class="form-control" id="productDay" placeholder="种植日期" >
    </div>
  </div>

  <div class="form-group">
    <label for="estimateDay" class="col-sm-2 control-label">预计成熟天数：</label>
    <div class="col-sm-6">
      <input disabled="" value="{{  data.estimate }}" name="estimateDay" type="text" class="form-control" id="estimateDay" placeholder="请输入预计成熟日期">
    </div>
  </div>
  <div class="form-group">
    <label for="residueDay" class="col-sm-2 control-label">预计剩余成熟日期：</label>
    <div class="col-sm-6">
      <input disabled="" value="{{ data.estimate - data.passDay }}" name="residueDay" type="text" class="form-control" id="residueDay" placeholder="请输入预计成熟日期">
    </div>
  </div>
  <div class="form-group">
    <label for="metureDate" class="col-sm-2 control-label">预计成熟日期：</label>
    <div class="col-sm-6">
      <input disabled="" value="{{ data.metureDate }}" name="metureDate" type="text" class="form-control" id="metureDate" placeholder="请输入预计成熟日期">
    </div>
  </div>
  <div class="form-group">
    <label for="currentStatus" class="col-sm-2 control-label">预计当前状态：</label>
    <div class="col-sm-6">
      <input disabled="" value="{{ data.estimate - data.passDay > 0 ? '未成熟' : '成熟'  }}" name="currentStatus" type="text" class="form-control" id="currentStatus" placeholder="请输入当前农作物状态">
    </div>
  </div>

  <div class="form-group">
  	 <label for="" class="col-sm-2 control-label"></label>
    <div class="col-sm-6">
      <input type="submit" class="form-control btn btn-primary" id="save" value="返回上一页">
    </div>
  </div>
</script>
</body>
</html>