<div class="header">
		<ul class="nav nav-pills nav-justified">
		 
 <li class="active"><a href="./map.html" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>基地大棚列表</a>
				    <ul class="dropdown-menu" role="menu">
				        <li>
				            <a href="#">第1个大棚</a>
				        </li>
				         <li class="divider"></li>
				        <li>
				            <a href="#">第2个大棚</a>
				        </li>
				         <li class="divider"></li>
				        <li>
				            <a href="#">第3个大棚</a>
				        </li>
				         <li class="divider"></li>
				       
				        <li>
				            <a href="#">第4个大棚</a>
				        </li>
				         <li class="divider"></li>
				        <li>
				            <a href="#">第5个大棚</a>
				        </li>
				        <li class="divider"></li>
				        <li>
				            <a href="#">第6个大棚</a>
				        </li>
				        <li class="divider"></li>
				        <li>
				            <a href="#">第7个大棚</a>
				        </li>
				    </ul>
				
		  </li>

		  <li><a href="./pandect.html">农作物总览</a></li>
		  <li><a href="./history.html">历史记录</a></li>
		  <li><a href="#">VB.Net</a></li>
		  <li><a href="#">Java</a></li>
		  <li><a href="#">PHP</a></li>
		</ul>
	</div>